# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test
.env.development
.env.production

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk (USB drives, etc.)
.Spotlight-V100
.Trashes

# General IDE and editor files
.idea/
.vscode/
.history/
*.sublime-workspace
*.sublime-project
